<app-menu></app-menu>

<div class="mx-auto font-Poppins">
    <section class="relative flex-auto p-2  w-ful shadow-md border border-gray-200 rounded hover:shadow-lg transition">
        <div class="w-full flex lg:flex-row flex-col items-center xl:gap-5 lg:gap-4 md:gap-3 sm:gap-2 gap-1">
            <!-- Input -->
            <div class="lg:w-5/12 w-full ">
                <label class="block w-full pb-1 text-sm font-medium text-black font_sans">
                    Registro de sedes:
                </label>
                <input autocomplete="off" type="search" placeholder="Ingrese datos de búsqueda"
                    class="uppercase w-full mb-1 border-1 border-plomo-400 rounded-md text-base font_sans placeholder-gray-300 forms-control focus"
                    type="search">
            </div>
            <!-- Pdf y Excel -->
            <div class=" lg:w-5/12 w-full flex space-x-2 justify-center items-center lg:mt-5">
                <button type="button" class="flex border-2 bg-green-500 focus:outline-none gap-3 bg-verde-300 hover:bg-green-600 hover:border-green-600 text-white items-center 
                    px-2 sm:px-5 xl:px-7 h-10  rounded-md ">
                    <span>
                        <svg class="w-6 h-6 fill-current text-white" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em"
                            height="1em"
                            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                            <g>
                                <path fill-rule="evenodd"
                                    d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z" />
                                <path
                                    d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773C16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593c.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318C1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </g>
                        </svg>
                    </span>
                    <span class="text-center text-xs sm:text-sm font-medium uppercase">EXCEL</span>
                </button>
                <button type="button" (click)="openModal(0)"
                    class="flex gap-1 bg-blue-500  px-2 sm:px-5 xl:px-7 h-10 items-center 
                border-2 border-azul-500 justify-center 
                transition duration-300 hover:border-blue-500  bg-azul-500 hover:bg-blue-600 text-white rounded focus:outline-none ">
                    <svg class="object-contain w-4" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 0C2.46733 0 0 2.46733 0 5.5C0 8.53267 2.46733 11 5.5 11C8.53267 11 11 8.53267 11 5.5C11 2.46733 8.53267 0 5.5 0ZM7.61538 5.92308H5.92308V7.61538C5.92308 7.72759 5.8785 7.8352 5.79916 7.91455C5.71982 7.99389 5.61221 8.03846 5.5 8.03846C5.38779 8.03846 5.28018 7.99389 5.20084 7.91455C5.1215 7.8352 5.07692 7.72759 5.07692 7.61538V5.92308H3.38462C3.27241 5.92308 3.1648 5.8785 3.08545 5.79916C3.00611 5.71982 2.96154 5.61221 2.96154 5.5C2.96154 5.38779 3.00611 5.28018 3.08545 5.20084C3.1648 5.1215 3.27241 5.07692 3.38462 5.07692H5.07692V3.38462C5.07692 3.27241 5.1215 3.1648 5.20084 3.08545C5.28018 3.00611 5.38779 2.96154 5.5 2.96154C5.61221 2.96154 5.71982 3.00611 5.79916 3.08545C5.8785 3.1648 5.92308 3.27241 5.92308 3.38462V5.07692H7.61538C7.72759 5.07692 7.8352 5.1215 7.91455 5.20084C7.99389 5.28018 8.03846 5.38779 8.03846 5.5C8.03846 5.61221 7.99389 5.71982 7.91455 5.79916C7.8352 5.8785 7.72759 5.92308 7.61538 5.92308Z"
                            fill="white" />
                    </svg>
                    <span class="text-center text-xs sm:text-sm font-medium uppercase">NUEVO</span>
                </button>
            </div>
        </div>
    </section>

    <div class="mat-elevation-z8 overflow-auto font-sans">

        <table mat-table [dataSource]="dataSource"  class="w-full">

            <ng-container matColumnDef="RUC">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap font_sans" style="text-align: center;">
                    RUC </th>
                <td mat-cell *matCellDef="let element" class="font_sans text-center"> {{element.RUC}} </td>
            </ng-container>


            <ng-container matColumnDef="RazonSocial">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap font_sans" style="text-align: center;">
                    RAZÓN SOCIAL</th>
                <td mat-cell *matCellDef="let element" class="font_sans text-center"> {{element.RazonSocial}} </td>
            </ng-container>

            <ng-container matColumnDef="Direccion">
                <th mat-header-cell *matHeaderCellDef class="font_sans" style="text-align: center;"> DIRECCIÓN </th>
                <td mat-cell *matCellDef="let element " class="whitespace-nowrap font_sans text-center">
                    {{element.Direccion}} </td>
            </ng-container>

            <ng-container matColumnDef="Telefono">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap font_sans" style="text-align: center;">
                    TELÉFONO </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap font_sans text-center">
                    {{element.Telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="Celular">
                <th mat-header-cell *matHeaderCellDef class="font_sans" style="text-align: center;"> CELULAR </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap font_sans text-center"> {{
                    element.Celular }} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="flex justify-center font_sans">ACCIONES</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex gap-5 justify-center  items-center">
                         <button (click)="openModal(element)" type="button" title="Editar"
                            class="focus:outline-none hover:bg-gray-100 w-7 rounded">
                            <img class="object-contain w-7" src="assets/svg/editar.svg" alt="">
                        </button>
                        <button  type="button" title="Eliminar"
                            class="focus:outline-none  w-7 rounded">
                            <img class="object-contain w-7" src="assets/svg/eliminar.svg" alt="">
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>