
<header class="flex-j w-full font-Poppins" >
    <!-- <span class="descripcions">{{ body.edit ? 'Editar' : 'Nueva'}} Marca</span> -->
    <span class="descripcions text-lg text-zinc-600">Mantenimiento de sede</span>
    <button matDialogClose class="close">
        
    </button>
</header>
<main class="flex">
    <form class="w-96 " (ngSubmit)="AgregarSede()">
        <div class="sm:mb-1 py-3">
            <label class="text-label">RUC:</label>
            <div>
                <input 
                type="number" 
                class=" uppercase text-sm py-2 rounded-md seclect w-full"  
                placeholder="12345678901" 
                required
                name="RUC"
                [(ngModel)]="Ruc"
                >
            </div>
        </div>
        <div class="sm:mb-1 py-3">
            <label class="text-label">Razón social:</label>
            <div>
                <input 
                type="text" 
                class=" uppercase text-sm py-2 rounded-md seclect w-full"  
                placeholder="pepito SAC" 
                required
                name="RazonSocial"
                [(ngModel)]="RazonSocial"
                >
            </div>
        </div>
        <div class="sm:mb-1 py-3">
            <label class="text-label">Dirección:</label>
            <div>
                <input 
                type="text" 
                class=" uppercase text-sm py-2 rounded-md seclect w-full"  
                placeholder="jr. Pizarro #54" 
                required
                name="Direccion"
                [(ngModel)]="Direccion"
                >
            </div>
        </div>
        <div class="sm:mb-1 py-3">
            <label class="text-label">Teléfono:</label>
            <div>
                <input type="number" 
                class=" uppercase text-sm py-2 rounded-md seclect w-full"  
                placeholder="044406812" 
                required
                name="Telefono"
                [(ngModel)]="Telefono"
                >
            </div>
        </div>
        <div class="sm:mb-1 py-3">
            <label class="text-label">Celular</label>
            <div>
                <input type="number" 
                class=" uppercase text-sm py-2 rounded-md seclect w-full"  
                placeholder="999888765" 
                required
                name="celular"
                [(ngModel)]="Celular"
                >
               
            </div>
        </div>
        

        <div class="flex justify-center space-x-4 sm:justify-end py-3">
            <!-- CANCELAR -->
            <button matDialogClose type="button" class="cancelar bg-zinc-600 text-white px-4 py-2 rounded-md focus:outline-none">
                <span class="ml-1">Cancelar</span>
            </button>
            <!-- GUARDAR -->
            <button type="submit" class="guardar bg-blue-500 text-white px-4 py-2 rounded-md focus:outline-none">
                <span class="ml-1"> Guardar</span>
            </button>
        </div>
    </form>
</main>