@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background: white; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* 

.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background: white;
    color:rgb(61, 61, 61);
} */

/*------------------------------------------------------- imputs y texttarea de color de la empresa */

textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
    border-color: #0D53FD;
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(31, 102, 255, 0.973);
    outline: 0 none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* Eliminar el spiket de los tipos number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}