@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");

.cuerpo{
    padding: 1rem/* 16px */;
    font-family: Poppins;
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
}

textarea {
    overflow: auto;
    resize: none;
}

textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
    border-color: #0D53FD;
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(31, 102, 255, 0.973);
    outline: 0 none;
    
}
textarea{
    border-color: #6b7280;
}

.contremite{
    padding-top: 1rem;
    padding-bottom: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem/* 8px */;
}

.titu1{
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    width: 100%;
    --tw-text-opacity: 1;
    color: rgb(82 82 91 / var(--tw-text-opacity));
    border-color: rgb(161 161 170 / var(--tw-border-opacity));
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #000000;
}

.option-ch {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #485155;
}

.combo{
    outline: 0 none;
    border-color: #6b7280;
    border-radius: 3px;
}

.combo:focus{
    border-color: #0D53FD;
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(31, 102, 255, 0.973);
    outline: 0 none;
    border-radius: 3px;
}

.dato{
    border-color: #6b7280;
}




