<app-menu></app-menu>
<header class=" p-4 font-Poppins text-xs md:text-md">
    <div class="titu1 text-sm lg:text-base ">1. Remite</div>
    <section class="py-4 space-y-3 ">
        <div class="flex sm:flex-nowrap flex-wrap items-center gap-2 sm:gap-5"><span class="lg:w-2/12 md:w-48 w-full md:text-[14px] text-sm">Numero de identificación:</span><span class="lg:w-10/12 md:w-11/12 w-full"><input class="md:w-4/12 w-full rounded-md" type="number"></span></div>
        <div class="flex sm:flex-nowrap flex-wrap items-center gap-2 sm:gap-5"><span class="lg:w-2/12 md:w-48 w-full md:text-[14px] text-sm">Sede:</span><span class="lg:w-10/12 md:w-11/12 w-full"><input class="md:w-4/12 w-full rounded-md" type="text"></span></div>
        <div class="flex sm:flex-nowrap flex-wrap items-center gap-2 sm:gap-5"><span class="lg:w-2/12 md:w-48 w-full md:text-[14px] text-sm">Nombre y Apellidos:</span><span class="lg:w-10/12 md:w-11/12 w-full"><input class="md:w-4/12 w-full rounded-md" type="text"></span></div>
    </section>
    <div class="titu1 text-sm md:text-base ">2. Documento a tramitar</div>
    <section class="py-4 space-y-3">
        <div class="w-full flex items-center gap-2">
            <div class="md:w-6/12 w-8/12 gap-2">
                <span class="font-grande text-xs md:text-[15px]  w-full">Activo:</span>
                <div class="w-full text-xs md:text-[14px] ">
                    <div>
                        <mat-select placeholder="Seleccione" class="border-gray-600 border combo text-sm h-full items-center md:text-[14px] w-full p-2  md:text-md  rounded-sm " required>
                            <mat-option value="1" class="option-ch">Opción 1</mat-option>
                            <mat-option value="2" class="option-ch">Opción 2</mat-option>
                            <mat-option value="2" class="option-ch">Opción 3</mat-option>
                            <mat-option value="2" class="option-ch">Opción 4</mat-option>
                        </mat-select>
                    </div>
                    <!-- <select name="format" id="format" class="combo text-sm md:text-[14px] w-full h-10  md:text-md  rounded-sm ">
                        <option selected disabled>Elige una opción</option>
                        <option value="">Opción 1</option>
                        <option value="">Opción 2</option>
                        <option value="">Opción 3</option>   
                    </select> -->
                    <!-- <span class="text-red-500 text-xs italic"> Por favor rellene este campo. </span> -->
                </div>
            </div>
            <div class="md:w-6/12 w-4/12 ">
                <div class="md:w-4/12 w-full text-xs md:text-[14px] gap-2">
                    <span class=" font-grande text-xs md:text-[14px]   w-full">Prefije:</span>
                    <div class=" text-xs md:text-base dato border-gray-600 border text-center  rounded-sm md:pt-2 pt-3 w-full h-10 items-center">
                        AMED
                    </div>
                </div>
            </div>   
        </div>
        <div class="flex sm:flex-nowrap flex-wrap items-center gap-2 sm:gap-5">
            <span class="lg:w-2/12 md:w-48 w-40 md:text-[14px] text-sm">Entidad:</span>
            <span class="lg:w-10/12 md:w-11/12 w-full">
                <input class="md:w-4/12 w-full rounded-md" type="text">
            </span>
        </div>
        <div class="w-full block md:flex md:gap-2 space-y-2">
            <div class="flex md:w-8/12 w-full flex-wrap items-center gap-2">
                <span class="w-full md:text-[14px] text-sm">Adjuntar(PDF):</span><span class=" w-full">
                   <div class="lg:w-full p-2 rounded-md w-full md:text-[14px] text-sm border-gray-600 border">
                       <input type="file" id="uploadFile" name="uploadFile" multiple="multiple" accept="image/*" />
                   </div>
                </span>
            </div>
            <div class="flex md:w-4/12 w-full p-1 rounded-md md:text-[14px] text-sm border-gray-600 border">
                <ul>
                    <li>* Adjuntar copia DNI</li>
                    <li>* Adjuntar pago por derecho</li>
                    <li>* Adjuntar titulo profesional</li>
                </ul>
            </div>
        </div>
        <div class="space-y-2">
            <div class="flex w-full flex-wrap items-center gap-2">
                <div class="flex md:w-8/12 w-full items-center justify-between">
                    <div class=" md:text-[14px] text-sm">Asunto:</div>
                    <div class=" md:text-[14px] text-sm">Maximo 250 caracteres</div>
                </div>
                <span class="flex md:w-8/12 w-full h-full">
                    <textarea maxlength="400" formControlName='mensaje' rows="5" name="message" id="message" placeholder="Describe tu mensaje" class="text-sm md:text-base 2xl:py-3 w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required>
                    </textarea>
                </span>
            </div>
            <div class="w-2/12">
                <div>
                    <button class="bg-amber-600 hover:bg-yellow-700 h-full items-end text-white px-10 py-3 rounded-md">Enviar</button>
                </div>
            </div>
           
        </div>
        
    </section>
    
</header>
