<app-menu></app-menu>
<header class="cuerpo font-Poppins">

    <section class="p-3 grid grid-rows-4">
        <div class="row-span-3 space-y-2" >
            <div><span>Listado de trámites</span></div>
            <div class="w-full">
                <div class="flex h-full items-center gap-2 md:w-5/12 w-full ">
                    <!-- F. De -->
                    <div class=" w-full h-full items-center  relative ">
                        <div class="relative">
                            <input  type="text" class="py-2  seclect w-full "  placeholder="De" required [matDatepicker]="fechadesde" >
                            <mat-datepicker #fechadesde> </mat-datepicker>
                            <button  (click)="fechadesde.open()" class="absolute top-2 right-2">
                                <svg class="w-6 h-6 text-zinc-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                            </button>
                        </div>  
                    </div>

                    <!-- F. Hasta -->
                    <div class=" w-full h-full items-center  relative ">
                        <div  class="relative">
                            <input  type="text" class="py-2  seclect w-full "  placeholder="Hasta" required [matDatepicker]="fechahasta" >
                            <mat-datepicker #fechahasta> </mat-datepicker>
                            <button  (click)="fechahasta.open()" class="absolute top-2 right-2">
                                <svg class="w-6 h-6 text-zinc-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                            </button>
                        </div>
                    </div>
                    
                    <button class="bg-yellow-400 hover:bg-yellow-300 text-yellow-900 
                    hover:text-yellow-800  focus:outline-none px-3 py-2 rounded-md">buscar</button>
                </div>
            </div>
            <div class=" md:w-5/12 w-full flex justify-center p-2 borde border-gray-500 rounded-md">
                Ingrese detalle de busqueda
            </div>
        </div>
        <div>

        </div>
    </section>

    <section>

    </section>

</header>
