@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");

.seclect {
   
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
    text-align: left;
    width: 100%;
    
  }

  .mat-select {
    display: inline-block;
    width: 100% !important;
    outline: none;
  }
  
  /* Posicion centrado del icono del boton:calendario de inicio a fin */
.mat-datepicker-toggle-default-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    vertical-align: middle !important;
  }
  
  /* Quitar el border del boton:calendario de inicio a fin */
  .mat-focus-indicator:focus{
    border: none;
    outline:none;
  }

  .borde{
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: #c7c9ce;

  }