<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin:0px;
        } 
        body{
            width: 700px;
            margin-left: 30px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        .encabezado{
            width: 700px;
            height: 40px;
            margin-top: 30px;
        }        
        .logo{
            width: 70px;
            height: 70x;
            float: left;
        }
        .datosEmpresa{
            float: left;
            width: 450px;
            height: 45px;
            font-weight: bold;
        }       
        .subrayado{
            width: 700px;
            border: 1px solid rgb(248, 198, 17);
            float: left;
        }
        .color{
            color: rgb(248, 198, 17);
            font-size: 10px;
        }
        .espacioLeyenda{
            margin-top: 10px;
            height: 15px;
            width: 350px;
            float: left;
            font-size: 10px;
        }
        .leyenda{
            margin-top: 10px;
            height: 15px;
            width: 350px;
            float: left;
            font-size: 10px;
        }
        .flotar{
            float: left;
        }
        .circulo{
            margin-left: 6px;
            margin-right: 6px;
            width: 10px;
            height: 10px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .nombreServicio{
            padding-top: 25px;
            width: 700px;
            height: 25px;
            font-weight: bold;
            color: rgb(129, 129, 129);
            font-size: 13px;
        }
        .tabla{
            width: 700px;
            font-size: 7px;
        }
        .encabezadoTabla{
            padding: 8px 7px;
            background-color: rgb(196, 196, 196);
            font-size: 9px;
            height: 30px;
            color: rgb(0, 0, 0);
        }
        .pieTabla{
            padding: 8px 7px;
            font-size: 9px;
            height: 30px;
            font-weight: normal;
            color: rgb(0, 0, 0);
            border: 1px solid rgb(66, 66, 66);
        }
        .totales{
            padding: 8px 7px;
            font-size: 9px;
            height: 30px;
            color: rgb(0, 0, 0);
            font-weight: normal;
        }
        table, tr,th{
            border-collapse: collapse;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .bordeSuperiorTabla{
            margin-top: 10px;
            border-top: 1px solid rgba(202, 166, 36, 0.493);
        }
        .negrita{
            font-weight:lighter;
            font-size: 9px;
        }
        .derecha{
            text-align: right;
        }
        .centro{
            text-align: center;
        }
        .alto{
            height: 100px;
            background-color: aqua;
        }
        .gray{
            color: rgb(75, 75, 75);
        }
        .letterTable{
            font-size: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
        }
    </style>
</head>
<body>   
    <div>
        <div class="encabezado">   
            <div class="datosEmpresa">
                <div class="empresa" style="font-size: 13px; color: gray;"><%=Abonos.sede%></div>
                <div class="reporte">
                    <span>Reporte recibos de ingreso:</span> 
                    <span>
                    <%=Abonos.FechaInicial%> - <%=Abonos.FechaFinal%></span>
                </div>
            </div>           
        </div>
        <div class="subrayado"></div>
        <div>
            <div class="espacioLeyenda"></div>
            <div class="leyenda">
                <div class="flotar"><div class="circulo flotar" style="background-color: green;"></div>Confirmado</div>
                <div class="flotar"><div class="circulo flotar" style="background-color: rgb(255, 197, 5);"></div>Pendiente</div>
                <div class="flotar"><div class="circulo flotar" style="background-color: red;"></div>Anulado</div>
            </div>
        </div>

        <div class="tabla">
            <table style="width:100%">
                <tr class="encabezadoTabla">
                    <th>Recibo</th>
                    <th>Ticket</th>
                    <th>Cliente</th>
                    <th>DocCliente</th>
                    <th>FechaEmision</th>
                    <th>Total</th>
                    <th>Pagado</th>
                    <th>Vendedor</th>
                    <th>Estado</th>
                </tr>  
                <% 
                let total = 0,
                    totalpagado=0,
                    totalPendiente=0,
                    totalConfirmado=0,
                    totalAnulado=0;

                    const formatoPeru = new Intl.NumberFormat('es-PE', {
                        style: 'decimal',
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                      });

                for(var i=0; i<Abonos.Abonos.length; i++)
                {
                    %>  
                    <tr class="letterTable">
                        <td class="gray"><%=(i+1)%> -<%=Abonos.Abonos[i].Recibo%></td>
                        <td class="gray"><%=Abonos.Abonos[i].Ticket%></td>
                        <td class="gray"><%=Abonos.Abonos[i].Cliente%></td>
                        <td class="gray"><%=Abonos.Abonos[i].DocCliente%></td>
                        <td class="gray"><%=Abonos.Abonos[i].FechaEmision%></td>
                        <td class="derecha"><%=formatoPeru.format(Abonos.Abonos[i].MontoTotal)%></td>
                        <td class="derecha"><%=formatoPeru.format(Abonos.Abonos[i].MontoPagado)%></td>
                        <td class="gray" style="padding-left: 10px;"><%=Abonos.Abonos[i].Vendedor%></td>                              
                        <td>
                            <%
                            total+=Abonos.Abonos[i].MontoTotal;
                            totalpagado+=Abonos.Abonos[i].MontoPagado;
                            if(Abonos.Abonos[i].Estado=='Anulado'){
                                totalAnulado+=Abonos.Abonos[i].MontoPagado;
                                %>
                                <span class="circulo flotar" style="background-color: red;"></span>    
                            <%}
                            else if(Abonos.Abonos[i].Estado=='Pendiente'){
                                totalPendiente+=Abonos.Abonos[i].MontoPagado;
                                %>
                                <span class="circulo flotar" style="background-color: rgb(255, 197, 5);"></span>
                            <%}
                            else if(Abonos.Abonos[i].Estado=='Confirmado'){
                                totalConfirmado+=Abonos.Abonos[i].MontoPagado;
                                %>
                                <span class="circulo flotar" style="background-color: green;"></span>
                            <%}%>
                        </td>
                    </tr>
                    <%
                } 
                %> 
                <tr class="pieTabla">
                    <th colspan="5"></th>
                    <th>S/<span style="font-weight: normal;"><%=formatoPeru.format(total)%></span></th>
                    <th>S/<span style="font-weight: normal;"><%=formatoPeru.format(totalpagado)%></span></th>
                    <th colspan="2"></th>
                </tr>  
                <tr class="totales">
                    <th colspan="2"><span class="circulo flotar" style="background-color: red;"></span>Anulados:S/<span class="negrita"><%=formatoPeru.format(totalAnulado)%></span></th>
                    <th colspan="2"><span class="circulo flotar" style="background-color: rgb(255, 197, 5);"></span class="negrita">Pendientes:S/<span><%=formatoPeru.format(totalPendiente)%></span></th>
                    <th colspan="2"><span class="circulo flotar" style="background-color: green;"></span>Pagados:S/<span class="negrita"><%=formatoPeru.format(totalConfirmado)%></span></th>
                    <th colspan="3"></th>
                </tr>  
    </div>
</body>
</html>