<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            width: 290px;
            margin-left: 15px;
        }
        .tc{
            text-align: center;
        }
        .ancho{
            width: 290px;
        }
        .sizeb{
            font-size: 18px;
        }
        .sizes{
            font-size: 14px;
        }
        .ng{
            font-weight: bold;
        }
        .cliente{
            height: 30px;
        }
        .tl{
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="ancho tc sizes">
        <div clas><%=abono.Sede%></div>
        <div clas><%=abono.Direccion%></div>
        <div>*********************************</div>
        <div class="tl">
            <div class="ng">ABONO PENDIENTE DE CONFIRMACIÓN</div>
            <div >N°Abono:<span class="ng"><%=abono.Abono%></span></div>
            <div >N°Doc:<span class="ng"><%=abono.DocCliente%></span></div>
            <div >Cliente:<span class="ng"><%=abono.Cliente%></span></div>
            <div >Tipo pago:<span class="ng"><%=abono.TipoPago%></span></div>
            <div >N°Operación:<span class="ng"><%=abono.NumeroOperacion%></span></div>            
        </div>
        <div>*********************************</div>
        <div class="ng"><%=abono.FechaHora%></div>
        <div>RECUERDA INFORMAR A TU CLIENTE<div>
        <div>LA CONFIRMACIÓN DE SU<div></div>
        <div>PAGO<div></div>
        <div>*********************************</div>
    </div>
</body>
</html>