<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        *{
            margin:0px;
            font-size: 13px;
        } 
        body{
            /* /* width: 700px; */
            margin-left: 30px;
            width: 860px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            background-size: 100% 100%;                  
            background-repeat: no-repeat;
            display: inline-block;  
            font-family: Arial, Helvetica, sans-serif;  
        }
        
        .logo{
            width: 70px;
            height: 70x;
        }
        .datosEmpresa{
            float: left;
            margin-left: 15px;
            width: 400px;
            height: 70px;
            font-weight: bold;
            text-align: center;
        }
        .titulo{
            height: 30px;
            width: 700px;
            font-weight: bold;
            font-size: 15px;
        }
        .titulo2{
            height: 30px;
            width: 700px;
            text-align: center;
            font-weight: bold;
            font-size: 13px;
        }
        .espaciadocabecera{
            height: 15px;
        }
        .informe{
            margin-top: 10px;
            width: 700px;
            height: 25px;
            padding: 10px 0px;
        }
        .fechas{
            width: 300px;
            height: 30px;
        }
        .flotarizquierda{
            float: left;
        }
        .columna{
            width: 300px;
        }
        .columna3{
            width: 230px;            
        }
        .subcolumna{
            width: 100px;
        }
        .tcentro{
            text-align: center;
        }
        .tizquierda{
            text-align: left;
        }
        .ancho{
            width: 700px;
        }
        .negrita{
            font-weight: bold;
        }
        .nm{
            font-weight: normal;
        }
        .espaciado{
            width: 700px;
            height: 20px;
        }
        .evaluado{
            height: 40px;
            width: 700px;
        }
        .parrafo{
            width: 700px;
            height: 70px;
            text-align: justify;
        }
        .check{
            width: 500px;
            height: 30px;
            margin:  20px 0px 20px 200px;
            font-size: 20px;
            font-weight: bold;
        }
        .cuadrado{
            border: 1px solid rgb(0, 0, 0);
            width: 30px;
            height: 15px;
        }
        .categoria{
            height: 70px;
        }
        .datos{
            height: 50px;
            width: 700px;
            height: 80px;
        }
        .grupofirmas{
            display:flex;
            width: 750px;
            height: 200px;
            margin: 150px 180px 0px 0px;
        }
        .firmas{
            width: 460px;
            height: 320px;
        }        
        .lineaFirma{
            padding-top: 50px;
            border-bottom: 1px solid rgb(0, 0, 0);
            width: 210px;
        }
        .lineaFirmapostulante{
            margin-top: 25px;
            border-bottom: 1px solid rgb(0, 0, 0);
            width: 210px;
            float: right;
        }
        .linea{
            border-bottom: 1px solid rgb(87, 87, 87);
        }
        .textolineaFirmapostulante{
            margin-left: 300px;
            width: 210px;
            float: right;
            text-align: center;
            font-size: 13px;
        }
        .cuadroFirma{
            margin-top: 10px;
            margin-right: 20px;
            width: 220px;
            height: 200px;      
            float: right;  
        }
        .flotarcentro{
            margin: 0 auto;
        }
        .flotarderecha{
            float: right;
        }
        .cuadradohuella{
            border: 1px solid rgb(0, 0, 0);
            width: 100px;
            height: 100px;
            margin-left: 60px;
        }
        .cuadradoFoto{
            border: 1px solid rgb(0, 0, 0);
            width: 128px;
            height: 160px;           
            margin-left: 80px;            
        }
        .espaciofirma{
            margin-top: 350px;
            width: 580px;
            background-color: rgb(166, 166, 226);
        }
        .numeroCertificado{
            margin-left: 270px;
            width: 300px;
            font-size: 15px;
            text-align: right;
            font-weight: bold;
        }
        .mensajeQr{
            margin-top: 0px;
            margin-left: 270px;
            width: 300px;
            font-size: 15px;
            text-align: right;
        }
        .tr{
            text-align: right;
        }
        .underline{
            text-decoration: underline;
        }
        .datosEgreso{
            width: 700px;
            justify-content: center;
            align-items: center;
            height: 90px;
            padding: 10px;
            line-height : 20px;
        }
        .columnaEvaluado{
            float: left;
            width: 230px;
            height: 200px;
        }
        .columnaEvaluadoCentro{
            float: left;
            width: 230px;
            margin-top: 116px;
        }
        .observacion{
            width: 700px;
        }
        .encabezado{
            width: 760px;
            height: 80px;
            margin-top: 30px;
            display:flex;
        }
        .encabezado1{
            width: 500px;
            float: left;
            display:flex;
        }
        .encabezado2{
            width: 180px;
            height: 80px;
            float: right;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            margin-right: 20px;
        }
        .serial{
            text-align: center;
            font-weight: bold;
            margin-top: 15px;
        }
        .gray{
            color: gray;
        }
        .tabla{
            width: 700px;
            font-size: 7px;
        }
        .encabezadoTabla{
            padding: 8px 7px;
            background-color: rgb(196, 196, 196);
            font-size: 9px;
            height: 30px;
            color: rgb(0, 0, 0);
        }
        .cuadradohuella{
            border: 1px solid rgb(0, 0, 0);
            width: 100px;
            height: 100px;
            margin-left: 60px;
        }
        .descripcion{
            margin-top: 100px;
            color:rgb(71, 71, 71);
            text-align:center;
            width: 690px;
        }
    </style>
</head>
<body >
    <div class="encabezado">
        <div class="encabezado1">
            <img class="logo flotarizquierda"  id="logo" src="data:image/png;base64,<%= Apertura.Logo %>" alt="">
            <div class="datosEmpresa flotarizquierda">
                <div class="espaciadocabecera"></div>
                <div><%=Apertura.Sede%></div>
                <div><%=Apertura.Direccion%></div>
                <div>Telefono:<%=Apertura.Telefono%> - Celular:<%=Apertura.Celular%></div>
            </div>
        </div>
        <div class="encabezado2">
            <div class="serial" >APERTURA DE CAJA</div>
            <div class="serial"><%=Apertura.Serie%>-<%=Apertura.Numero%></div>
        </div>
    </div>  
    <p class="negrita gray titulo">
        <div class="linea gray" style="margin-bottom: 15px;"></div>  
        DATOS:
    </p>
    <div class="datosEgreso">
        <p class="negrita">CAJA: <span class="nm"><%=Apertura.Caja  %></span></p>    
        <p class="negrita">N°DOC: <span class="nm"><%=Apertura.DocUsuario%></span></p>        
        <p class="negrita">FECHA Y HORA: <span class="nm"><%=Apertura.FechaHora%></span></p>        
        <p class="negrita">USUARIO: <span class="nm"><%=Apertura.Usuario%></span></p>
    </div>

    <div class="linea gray" style="margin-bottom: 15px;"></div> 
    
    <div class="tabla">
        <table style="width:100%">
            <tr class="encabezadoTabla">
                <th>Descripción</th>
                <th>Valor total</th>
            </tr>     
          <%
          const formatoPeru = new Intl.NumberFormat('es-PE', {
            style: 'decimal',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
          });%>         
         
        <tr>
            <td>Apertura caja</td>
            <td class="tcentro negrita">S/<%=formatoPeru.format(Apertura.Total)%></td>
        </tr>  
        <tr>
            <td colspan="2">SON: <%=Apertura.TotalEnLetras%></td>
        </tr>   
        </table>
    </div>    

    <div class="grupofirmas">
       <%
            for(let i=0; i<Apertura.Firmas.length; i++)
            {
                let Identificador = Apertura.Firmas[i].Identificador;
                let nombres = Apertura.Firmas[i].nombres;
                let Cargo = Apertura.Firmas[i].Cargo;
                %>
                    <div class="cuadroFirma">
                        <div class="cuadradohuella"></div>
                        <div class="lineaFirma"></div>
                        <p class="textolineaFirmapostulante negrita" style="font-size: 10px;"><%=nombres%></p>
                        <p class="textolineaFirmapostulante negrita" style="font-size: 10px;"><%=Identificador%></p>
                        <p class="textolineaFirmapostulante negrita" style="font-size: 10px;"><%=Cargo%></p>
                    </div>  
                <%
            }
        %>
    </div>  
    <div class="descripcion">
        <p>*Al firmar este documento estoy aceptando que el dinero registrado en el sistema, es el mismo que tengo en monto efectivo.</p>
        <p>Fecha de impresión: <%=Apertura.FechaActual%></p>
    </div>
    <div id="pageFooter" style="border-top: 1px solid #ddd; padding-top: 5px; width: 700px;text-align: center;color: rgb(56, 56, 56);">
            Oficina Tecnología de la Información - Leoncorp
    </div>
</body>
</html>