﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        *{
            margin:0px;
            font-size: 13px;
        } 
        body{
            /* /* width: 700px; */
            margin-left: 30px;
            height: 1100px;
            width: 860px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            background-size: 100% 100%;                  
            background-repeat: no-repeat;
            display: inline-block;  
            font-family: Arial, Helvetica, sans-serif;  
        }
        
        .logo{
            width: 70px;
            height: 70x;
        }
        .datosEmpresa{
            float: left;
            margin-left: 15px;
            width: 400px;
            height: 70px;
            font-weight: bold;
        }
        .titulo{
            height: 30px;
            width: 700px;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
        }
        .titulo2{
            height: 30px;
            width: 700px;
            text-align: center;
            font-weight: bold;
            font-size: 13px;
        }
        .espaciadocabecera{
            height: 15px;
        }
        .informe{
            margin-top: 10px;
            width: 700px;
            height: 25px;
            padding: 10px 0px;
        }
        .fechas{
            width: 300px;
            height: 30px;
        }
        .flotarizquierda{
            float: left;
        }
        .columna{
            width: 330px;
        }
        .columna3{
            width: 230px;            
        }
        .subcolumna{
            width: 100px;
        }
        .tcentro{
            text-align: center;
        }
        .tizquierda{
            text-align: left;
        }
        .ancho{
            width: 700px;
        }
        .negrita{
            font-weight: bold;
        }
        .nm{
            font-weight: normal;
        }
        .espaciado{
            width: 700px;
            height: 20px;
        }
        .evaluado{
            height: 40px;
            width: 700px;
        }
        .parrafo{
            width: 700px;
            height: 70px;
            text-align: justify;
        }
        .check{
            width: 500px;
            height: 30px;
            margin:  20px 0px 20px 200px;
            font-size: 20px;
            font-weight: bold;
        }
        .cuadrado{
            border: 1px solid rgb(0, 0, 0);
            width: 30px;
            height: 15px;
        }
        .categoria{
            height: 70px;
        }
        .datos{
            height: 50px;
            width: 700px;
            height: 80px;
        }
        .grupofirmas{
            display:flex;
            width: 700;
            height: 320px;
        }
        .firmas{
            display:flex;
            width: 460px;
            height: 320px;
        }
        .firmas2{
            display:flex;
            width: 230px;
            height: 230px;
        }
        .lineaFirma{
            padding-top: 50px;
            border-bottom: 1px solid rgb(0, 0, 0);
            width: 210px;
        }
        .lineaFirmapostulante{
            margin-top: 25px;
            border-bottom: 1px solid rgb(0, 0, 0);
            width: 210px;
            float: right;
        }
        .textolineaFirmapostulante{
            margin-left: 300px;
            width: 210px;
            float: right;
            text-align: center;
            font-size: 13px;
        }
        .cuadroFirma{
            margin-top: 10px;
            width: 220px;
            height: 90px;
        }
        .flotarcentro{
            margin: 15 auto;
        }
        .flotarderecha{
            float: right;
        }
        .cuadradohuella{
            border: 1px solid rgb(0, 0, 0);
            width: 100px;
            height: 100px;
            margin-left: 60px;
        }
        .cuadradoFoto{
            border: 1px solid rgb(0, 0, 0);
            width: 128px;
            height: 160px;           
            margin-left: 80px;            
        }
        .espaciofirma{
            margin-top: 350px;
            width: 580px;
            background-color: rgb(166, 166, 226);
        }
        .numeroCertificado{
            margin-left: 270px;
            width: 300px;
            font-size: 15px;
            text-align: right;
            font-weight: bold;
        }
        .mensajeQr{
            margin-top: 0px;
            margin-left: 270px;
            width: 300px;
            font-size: 15px;
            text-align: right;
        }
        .tr{
            text-align: right;
        }
        .underline{
            text-decoration: underline;
        }
        .datosEvaluado{
            width: 700px;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 170px;
        }
        .columnaEvaluado{
            float: left;
            width: 230px;
            height: 200px;
        }
        .columnaEvaluadoCentro{
            float: left;
            width: 230px;
            margin-top: 116px;
        }
        .observacion{
            width: 700px;
        }
        .encabezado{
            width: 760px;
            height: 80px;
            margin-top: 30px;
            display:flex;
        }
        .encabezado1{
            width: 500px;
            float: left;
            display:flex;
        }
        .encabezado2{
            width: 260px;
            float: right;
        }
    </style>
</head>
<body background="http://172.10.20.10/img/psicosomatico.png">
    <div class="encabezado">

        <div class="encabezado1">
            <img class="logo flotarizquierda"  id="logo" src="data:image/png;base64,<%= certificado.logo %>" alt="">
            <div class="datosEmpresa flotarizquierda">
                <div class="espaciadocabecera"></div>
                <div><%=certificado.Empresa%></div>
                <div>AUTORIZADO POR: <%=certificado.Resolucion%></div>
                <% if(!(certificado.Codipress == undefined || certificado.Codipress=='')){ %>
                    <div>Cod. IPRESS: <%=certificado.Codipress%></div>
                <% } %>
            </div>
        </div>

        <img class="encabezado2"  src="http://172.10.20.10/img/logomtc.png" alt="">
    </div>    

    <P class="titulo underline">
        CERTIFICADO MÉDICO DE EVALUACIÓN PSICOSOMÁTICA
    </P>
    <div class="informe negrita">
        <p class="columna flotarizquierda tcentro negrita">N° DE INFORME: <span class="negrita"><%=certificado.CodEcsal%><%=certificado.Numero%></span></p>
        <p class="columna flotarizquierda tcentro">FECHA DE INFORME: <span class="nm"><%=certificado.FechaInforme%></span></p>
    </div>
    <div class="datosEvaluado">
        <div class="columnaEvaluado">
            <p class="titulo2 tizquierda underline">
                EVALUACIÓN MÉDICA
            </p>
            <div class="fechas">
                <p class="columna">Fecha de inicio: <span class="nm"><%=certificado.FechaInicio%></span></p>
                <p class="columna">Fecha de término: <span class="nm"><%=certificado.FechaTermino%></span></p>
            </div>
        
            <p class="informe negrita underline">
                INFORMACIÓN DE EVALUADO
            </p>
            <div class="columna">
                <p class="negrita">Apellido paterno: <span class="nm"><%=certificado.ApellidoPaterno%></span></p>
                <p class="negrita">Apellido materno: <span class="nm"><%=certificado.ApellidoMaterno%></span></p>
                <p class="negrita">Nombres: <span class="nm"><%=certificado.Nombres%></span></p>
            </div>
        </div>

        <div class="columnaEvaluadoCentro">
            <div class="columna flotarizquierda">
                    <p class="negrita">Tipo de documento: <span class="nm"><%=certificado.Documento%></span></p>
                    <p class="negrita">Número de documento: <span class="nm"><%=certificado.NroDocumento%></span></p>
                    <p class="negrita">Fecha de nacimiento: <span class="nm"><%=certificado.FechaNacimiento%></span></p>
            </div>
        </div>
        <% if(certificado.UtilizaFoto){             
            if((certificado.FotoBase64 != null)&&(certificado.FotoBase64!="")){
            %>   
                <div class="columnaEvaluado flotarderecha">
                    <div class="cuadradoFoto">
                        <img class="columnaEvaluado flotarderecha"
                        src="<%= certificado.FotoBase64 %>" alt=""
                        style=" width: 128px; height: 160px;"
                        >
                    </div>
                </div>    
            <%}       
            else{
            %>
                <div class="columnaEvaluado flotarderecha">
                    <div class="cuadradoFoto">
                        <div class="tcentro negrita" style="margin-top: 70px;">
                            FOTO
                        </div>
                    </div>
                </div><% 
            }
        } %>           
    </div>

    <div class="observacion">
        <div class="espaciado"></div>
        <p class="titulo2 tizquierda underline">
            CLASE, CATEGORÍA Y CONDICIÓN POSTULANTE
        </p>
        <p class="parrafo">
            El Dr. <%=certificado.DirectorMedico%>, DIRECTOR(A) DEL CENTRO MÉDICO "<%=certificado.Empresa%>". en reconocimiento
            para el EXÁMEN PSICOSOMÁTICO, informa que <%=certificado.Cliente %> identificado con DNI N°<%=certificado.NroDocumento%>
            se ha realizado el exámen de aptitud médica y psicológicas necesarias para la OBTENCIÓN de la licencia de conducir
            PARA VEHICULOS MENORES, en la modalidad de:
        </p>
    </div>

    
    <div class="ancho">
        <div class="check">
            <div class="columna3 flotarizquierda">
                <div class="flotarizquierda" style="margin-right: 10px;">NUEVO</div>
                <div class="cuadrado flotarizquierda">
                    <% if(!certificado.Revalidacion){ %>
                        <span class="negrita" style="font-size: 15px;margin-left: 8px;">X</span>
                    <% } %>
                </div>
            </div>
            <div class="columna3 flotarizquierda">
                <div class="flotarizquierda" style="margin-right: 10px;">REVALIDACIÓN</div>
                <div class="cuadrado flotarizquierda">
                    <% if(certificado.Revalidacion){ %>
                        <span class="negrita" style="font-size: 15px;margin-left: 8px;">X</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    

    <div class="ancho categoria datos">
        <div>
            <div class="columna flotarizquierda negrita">CLASE Y CATEGORÍA: </div><div class="columna flotarizquierda nm"><%=certificado.Categoria%></div>
        </div>
        <div>
            <div class="columna flotarizquierda negrita">GRUPO SANGUÍNEO Y FACTOR RH: </div> <div class="columna flotarizquierda nm"><%=certificado.GrupoSanguineo%></div>
        </div>
        <div>
            <div class="columna flotarizquierda negrita">DICTAMEN: </div> <div class="columna flotarizquierda nm"><%=certificado.Apto%></div>
        </div>
        <div>
            <div class="columna flotarizquierda negrita">RESTRICCIONES: </div><div class="columna flotarizquierda nm"><%=certificado.Restriccion%></div>
        </div>        
    </div>
    <div class="espaciado"></div>
    <p class="titulo2">
        PROFESIONALES MÉDICOS QUE PARTICIPARON EN LA EVALUACIÓN MÉDICA: (FIRMA Y SELLO)
    </p>
    <div class="grupofirmas">
        <div class="firmas flotarizquierda">
        <%
            for(var i=0; i<certificado.Detalle.length; i++)
            {
                let especialidad = certificado.Detalle[i].Perfil;
                let nombre = certificado.Detalle[i].Nombre;;
                %>
                    <div class="cuadroFirma flotarizquierda">
                        <div class="lineaFirma"></div>
                        <p class="textolineaFirmapostulante negrita" style="font-size: 10px;"><%=nombre%></p>
                        <p class="textolineaFirmapostulante negrita" style="font-size: 10px;"><%=especialidad%></p>
                    </div>
                <%
            }
        %>
        </div>
        <div class="firmas2 flotarizquierda">
            <div class="firmas flotarizquierda">
                <div class="cuadradohuella">  </div>
                <div class="cuadroFirma flotarizquierda">
                    <div class="lineaFirma"></div>
                    <p class="textolineaFirmapostulante negrita" style="font-size: 10px;"><%=certificado.Cliente %></p>
                    <p class="textolineaFirmapostulante negrita" style="font-size: 10px;">FIRMA Y HUELLA DEL POSTULANTE</p>
                </div>
            </div>            
        </div>
    </div>
    <div class="numeroCertificado">
        N°Certificado: <%=certificado.NumeroCertificado %>
    </div>
    <div class="mensajeQr">
        Verifica la validez de tu certificado 
        escaneando este código QR
    </div>
</body>
</html>