<!doctype html>
    <html lang="es">
       <head>
            <meta charset="utf-8">
            <style>       
                *{
                    margin:0px;
                }                   
                body{                  
                    height: 789px;
                    width: 1000px;
                    background-size: 100% 100%;                  
                    background-repeat: no-repeat;
                    display: inline-block;  
                }
                .Encabezado{
                    margin-top: 90px;
                    height: 90px;
                    font-family: 'Open Sans';
                    font-size: 12px;
                    font-style:normal;
                    color: #4b4b4d;
                    margin-left: 430px;
                }
                              
                .postulante{
                    margin-top: 380px;
                    margin-bottom: 0px;
                    margin-left: 430px;
                    width: 600px;
                    height: 55px;
                    font-size: 23px;
                    text-align: center;
                    padding: 0;
                    font-weight: normal;
                    font-family: 'Times New Roman', Times, serif;
                    color: #443034;
                }
                .aprobado{
                    margin-top: 5px 0px;
                    margin-left: 430px;
                    margin-bottom: 15px;
                    width: 600px;
                    font-size: 20px;
                    text-align: center;
                    font-family: 'Open Sans';
                    font-style:normal;
                    color: #414042;
                }
                .curso{
                    margin-left: 430px;
                    margin-bottom: 0px;
                    width: 600px;
                    font-size: 17px;
                    text-align: center;
                    /* font-family: 'Open Sans'; */
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight:bolder;
                    color: #414042;
                    font-weight: bold;
                }
                .descripcion{
                    margin-top: 10px;
                    margin-left: 430px;
                    margin-bottom: 0px;
                    width: 600px;
                    height: 40px;
                    font-size: 17px;
                    text-align: justify;
                    font-family: 'Open Sans';
                    font-weight: lighter;
                    color: #414042;
                    line-height :16px;
                }
                .horas{
                    margin-top: 20px;
                    margin-left: 430px;
                    margin-bottom: 0px;
                    width: 600px;
                    font-size: 15px;
                    text-align: justify;
                    font-family: 'Open Sans';
                    font-weight:lighter;
                }
                .fecha{
                    margin: 0px 0px 0px 430px;
                    width: 600px;
                    font-size: 15px;
                    text-align: right;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-weight:lighter;
                    font-style:italic;
                }
               
                .numerodocumento{
                    margin-left: 430px;
                    margin-top: 25px;
                    padding-left: 50px;
                    text-align: left;
                    width: 480px;
                    float: left;
                    font-family: 'Open Sans';
                    font-size: 17px;
                    color: brown;
                    font-weight: bold;
                }
                .firmas{
                    margin-top: 35px;
                    margin-left: 430px;
                    margin-bottom: 0px;
                    width: 600px;
                    font-size: 11px;
                    display: flex;
                    font-family: 'Open Sans';
                    color: #414042;
                }
                .firmaitem{
                    text-align: center;
                    width: 190px;
                    margin: 0px 2px;
                    border-top: 1px solid rgb(134, 134, 134);
                    float: left;
                    font-family: 'Open Sans';
                }
                .firmaitemwhite{
                    text-align: center;
                    font-style: italic;
                    width: 190px;
                    margin: 0px 2px;
                    float: left;
                    font-family: 'Open Sans';
                    height: 10px;
                }
                .espaciopiepagina{
                    width: 190px;
                    height: 20px;
                    margin: 0px 2px;
                    float: left;
                }
            </style>        
        </head>        
            <body background="http://172.10.20.10/img/Sin-Foto.png">    
                <div class="encabezado"></div>        
                <div class="postulante">
                    <p><%=certificado.postulante%></p>
                </div>
                <div class="aprobado">
                    <p>POR HABER APROBADO EL CURSO DE:</p>
                </div>    
                <div class="curso">
                    <p id="curso"><%=certificado.curso%></p>
                </div>
                
                <div class='descripcion'>
                    <P id="descripcion">
                        <%=certificado.descripcion%>
                    </p>
                </div>
                <% if(certificado.CantHoras>0){ %>
                    <div class="horas">
                        <p><%=certificado.horas%></p>    
                    </div>
                <% } %>
                <div class="fecha">
                    <p><%=certificado.fecha%></p>
                </div>
                <div class="numerodocumento">
                    <p><%=certificado.numerodocumento%></p>
                </div>
                <div class="firmas">
                    <div class="firmaitem">
                        <p>NÚMERO DE CERTIFICADO</p>
                    </div>          
                    <div class="espaciopiepagina">
                        <p></p>
                        <p></p>      
                    </div>               
                    <div class="firmaitem">
                        <p><%=certificado.director%></p>
                        <p>DIRECTOR</p>      
                    </div>  
                    
                    <div class="firmaitemwhite">
                        <p></p>
                        <p></p>
                        <p>*Certificado válido hasta: <%=certificado.FechaVencimiento%></p>
                    </div>   
                </div>
        </body>      
    </html>
    