<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            width: 290px;
        }
        .tc{
            text-align: center;
        }
        .ancho{
            width: 290px;
        }
        .sizeb{
            font-size: 18px;
        }
        .sizes{
            font-size: 14px;
        }
        .ng{
            font-weight: bold;
        }
        .cliente{
            height: 30px;
        }
    </style>
</head>
<body>

    <div class="ancho tc sizes">
        <div clas><%=Ticket.Sede%></div>
        <div clas><%=Ticket.Direccion%></div>
        <div>*********************************</div>
        <div><%=Ticket.Servicio%></div>
        <div class="sizeb ng"><%=Ticket.Ticket%></div>
        <div class="cliente"><%=Ticket.Cliente%></div>
        <div>tu cita será el: </div>
        <div class="sizeb ng"><%=Ticket.Fecha%></div>
        <div class="sizeb ng"><%=Ticket.Hora%></div>
        <div><%=Ticket.Detalle%></div>        
        <div>*********************************</div>
        <div>RECUERDA ACERCARTE MINUTOS<div>
        <div>ANTES DE TU CITA<div></div>
        <div>*********************************</div>
    </div>
</body>
</html>