<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <style>
        body{
            margin: 25px auto 0 25px;
            padding: 0;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        .encabezado{
            margin-top: 30px;
            width: 514px;
            margin-bottom: 1%;
            height: 100px;
            background-color: green;
        }   
        .imglogo{
            margin-top: 10px;
            width: 50px;
            height: 50px;
            justify-content:center;
            align-items:center; 
            float:left;
        }
        .contenidoEncabezado{

            margin-left: 10px;
            text-align: center;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 50%;
            float:left;
        }
        .empresa{
            font-weight: bold;
            font-size: 13px;
        }
        .direccionPrincipal{
            font-weight: bold;
            font-size: 12px;
        }
        .direccionSede{
            font-size: 11px;
            margin-top: 0%;
        }
        .contenedor{
            align-items: center;
            font-weight: bold;
            font-size: 12px;
        }
        .serial{
           border: 2px solid gray;
           width: 30%;
           margin: 5px;
           border-radius: 10px;
           font-size: 16px;
           padding: 10px;
           text-align: center;
           font-weight: bold;
           float: left;
        }
        .serialNumero{
           margin-top: 10px;
           color: rgb(77, 75, 75);
        }
        .subrayado{
            border: 1px solid gray;
            width: 514px;
        }
        .documento{
            width: 514px;
            line-height: 20px;
            height: 80px;
        }        
        .documento1{
            float:left;
            margin-left:5px;
            width: 45%;
            padding: 5px;
            font-size: 13px;
        }
        .documentoTitulo{
            font-weight: bold;
            color: rgb(56, 55, 55);
        }
        .tabla{
            width: 514px;
            text-align: center;
        }     
        th{
            font-size: 11px;
            border-bottom: 1px solid black;
            border-collapse: collapse;
        }
        tr{
            font-size: 11px;
            border-bottom: 1px solid rgb(116, 116, 116);
            border-collapse: collapse;
        }
        .centro{
            text-align: center;
        }
        .derecha{
            text-align: right;
        }
        .izquierda{
            text-align: left;
        }
        td{
            font-size: 13px;
        }
        table{
            border-collapse: collapse;
        }  
        .cuadro{
            width: 490px;
            margin: 0px auto;
        }
        .celdaSinborde{
            border-bottom: solid white;
        }
        .negrita{
            font-weight: bold;
        }
        .letraCelda{
            font-size: 11px;
        }
        .plomo{
            color: gray;
        }
        .fechavalido{
            font-style: italic;
            font-size: 10px;
            text-align: right;
            width: 500px;
        }
        .piePagina{
            margin-top: 1%;
            width: 514px;
            height: 120px;
        }
        .cuadrosPie{
           border: 2px solid gray;
           width: 25%;
           margin: 5px;
           border-radius: 10px;
           font-size: 10px;
           padding: 10px;
           text-align: left;
           float:left;
           line-height: 11px;
           height: 80px;
        }
        .qr{
            width:100px;
            float:right;
            height: 100px;
        }
        .centro{
            text-align: center;
        }
        .impresion{
            width: 514px;
            font-size: 11px;
        }
    </style>
</head>
<body>
        <div class="encabezado">
            <img class="imglogo" src="data:image/png;base64,<%= ticket.logo %>" alt="">
            
            <div class="contenidoEncabezado">
                <div class="empresa"><%=ticket.Empresa%></div>
                <div class="direccionPrincipal"><%=ticket.DireccionEmpresa%></div>
                <div class="direccionSede"><%=ticket.DireccionSede%></div>
                <div class="direccionSede"><%=ticket.Correo%></div>
                <div class="contenedor">
                    <span >Teléfono: <%=ticket.Telefono%></span>
                    <span>-</span>
                    <span>Celular: <%=ticket.Celular%></span>
                </div>
            </div>
            
            <div class="serial">
                <div><%=ticket.Comprobante%></div>
                <div class="serialNumero"><%=ticket.Serial%></div>
            </div>
            
        </div>
        
        <div class="subrayado"></div>

        <div class="documento">
            <div class="documento1">
                <div><span class="documentoTitulo">DOC: </span><span><%=ticket.DocCliente%></span></div>
                <div><span class="documentoTitulo">NOMBRE: </span><span><%=ticket.Cliente%></span></div>
                <div><span class="documentoTitulo">TIPO DE PAGO:</span><span><%=ticket.TipoPago%></span></div>
            </div>
            <div class="documento1">
                <div><span class="documentoTitulo">NRO OPERACIÓN:</span><span><%=ticket.NumeroOperacion%></span></div>
                <div><span class="documentoTitulo">FECHA-HORA:</span><span><%=ticket.FechaEmision%></span>&nbsp;<span><%=ticket.HoraEmision%></span></div>
            </div>
        </div>

        <div class="subrayado"></div>
        <!-- TABLA -->
        <div class="tabla">
            <div class="cuadro">
                <table style="width:100%">
                    <tr>
                        <th>DESCRIPCIÓN</th>
                        <th>CITA</th>
                        <th>CANTIDAD</th>
                        <th>P.UNITARIO</th>
                        <th>IMPORTE</th>
                    </tr>
                    <% for(var i=0; i<ticket.DetalleVenta.length; i++) {%>
                    <tr class="plomo">
                        <td class="sinLinea"><%=ticket.DetalleVenta[i].Servicio%></td>
                        <td class="sinLinea" style="font-size: 11px;color: black;"><%=ticket.DetalleVenta[i].Cita%></td>
                        <td class="centro"><%=ticket.DetalleVenta[i].Cantidad%></td>
                        <td class="Monto abonado:"><span>S/</span><span><%=ticket.DetalleVenta[i].PrecioUnitario%></span></td>
                        <td class="derecha"><span>S/</span><span><%=ticket.DetalleVenta[i].Importe%></span></td>
                    </tr>
                    <% } %>
                   <!-- TOTALES -->
                    <tr>
                        <td colspan="3" class="celdaSinborde"></td>
                        <td class="negrita derecha"><span>Total:</span></td>
                        <td class="derecha"><span>S/</span><span><%=ticket.Total%></span></td>
                    </tr>   
                    <!-- ABONOS -->
                    <% for(var i=0; i<ticket.servicios.length; i++) {%>
                    <tr>
                        <td colspan="3" class="celdaSinborde"></td>
                        <td class="derecha negrita"><span>Abono <%=(i+1)%>:</span></td>
                        <td class="derecha"><span>S/</span><span><%=(ticket.DetalleAbonos[i].Monto * -1)%></span></td>
                    </tr>     
                    <% } %>
                    <tr>
                        <td colspan="3" class="celdaSinborde izquierda"><span class="negrita letraCelda">SON:&nbsp; </span><span class="letraCelda"><%=ticket.MontoAbonoEnLetras%></span></td>
                        <td class="derecha negrita"><span>Deuda pendiente:</span></td>
                        <td class="derecha"><span>S/</span><span><%=(ticket.DeudaPendiente)%></span></td>
                    </tr>                   
                </table>
            </div>
        </div>

    <div class="fechavalido"><span class="derecha">*Válido hasta: <%=(ticket.FechaVencimiento)%></span></div>
    
    <div>
        <div class="piePagina">
            <div class="cuadrosPie" style="width: 40%;">
                <p class="negrita">Realiza tu curso de Recategorización o Revalidación con nosotros!!</p>
                <p>*Escanea el código QR para ver las <span class="negrita">promociones!!</span></p>
            </div>

            <div class="cuadrosPie">
                <span class="negrita">ATENDIDO POR:</span>
                <span><%=ticket.Usuario%></span>
                <p></p>
                <span>*Canjee por Boleta o Factura</span>
            </div>      
            <div >
                <img class="qr" src="https://latam.kaspersky.com/content/es-mx/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png" alt="">
            </div>      
        </div>
    </div> 
    <div class="subrayado"></div>
    <div class="impresion negrita centro" ><span>TRUJILLO-</span><span><%=(ticket.FechaActual)%></span></div>
</body>
</html>
