<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            width: 270px;margin-left: 0px;
        }
        .sizeTitulo{
            font-size: 15px;
        }
        .size{
            font-size: 12px;
        }
        .letter{
            font-family: Arial, Helvetica, sans-serif
        }
        .encabezado{
            height: 40px;
        }
        .logo{
            margin-top: 0px;
            margin-left: 95px;
            width: 80px;
            height: 80px;
        }
        .nombreempresa{
            width: 270px;
        }
        .ruc{
            width: 270px;
        }
        .datosEmpresa{
            width: 270px;
            height: 28px;
        }
        .tc{
            text-align: center;
        }
        .tr{
            text-align:right;
        }
        .tl{
            text-align: left;
        }
        .direccionempresa{
            width: 270px;   
            height: 28px;      
        }
        .columnaDividida{
            width: 50%;
            height: 10px;
        }  
        .flex{
            float: left;
        }   
        .datosContacto{
            width: 270px;
            height: 17px;
        }
        .datosSerial{
            height: 35px;
            width: 270px;
            margin-bottom: 5px;
            margin-bottom: 15px;
        }
        .ng{
            font-weight: bold;
        }
        .datosCliente{
            height: 70px;
            width: 270px;
            font-size: 10px;
        }       
        table{
            border-collapse: collapse;
            width: 270px;
        }  
        th{
            font-size: 11px;
            border-bottom: 1px solid black;
            border-collapse: collapse;
            Word-wrap: break-Word;
            max-width: 70px;
        }
        td{
            Word-wrap: break-Word;
            max-width: 70px;
        }
        tr{
            font-size: 11px;
            border-bottom: 1px solid rgb(116, 116, 116);
            border-collapse: collapse;
        }
        .cuadro{
            padding-top: 10px;
            width: 270px;
            font-size: 9px;
            float: left;
        }
        .celdaSinborde{
            border-bottom: solid white;
        }
        .plomo{
            color: rgb(48, 48, 48);
        }
        .piePag{
            font-size: 7px;
        }
        .pad{
            padding-top: 3px;
            padding-bottom: 3px;
        }
        .fl{
            float: left;
        }
    </style>
</head>
<body>
    <img class="logo"  id="logo" src="data:image/png;base64,<%= ticket.Logo %>" alt="">
    <div>        
        <div class="encabezado">
            <div class="nombreempresa tc ng fl letter sizeTitulo" >
                <%=ticket.Empresa%>
            </div>
            <div class="ruc tc fl letter" >
                RUC:<%=ticket.RUC%>
            </div>
        </div>

        <div class="datosEmpresa tc size letter">
            <p class="direccionempresa tc"><%=ticket.DireccionEmpresa%></p>            
        </div>

        <div class="datosContacto letter tc size">
            <p>Teléfono: <%=ticket.Telefono%> - Celular: <%=ticket.Celular%></p>
        </div>

        <div class="datosContacto size letter">
            <div class="tc"><%=ticket.Correo%></div>
        </div>
        
        <div class="datosSerial size letter">
            <p class="tc ng"><%=ticket.Comprobante%></p>
            <p class="tc"><%=ticket.Serial%></p>
            <p class="tc">IMPRESO: <%=ticket.HoraActual%></p>
        </div>
        
        <div class="datosCliente ">
            <div class="pad letter size"><span class="ng">DOC: </span><span> <%=ticket.DocCliente%></span></div>
            <div class="pad letter size"><span class="ng">NOMBRE: </span><span> <%=ticket.Cliente%></span></div>
            <div class="pad letter size"><span class="ng">TELÉFONO: </span><span> <%=ticket.TelefonoCliente%></span></div>
            <div class="pad letter size"><span class="ng">EMITIDO: </span><span> <%=ticket.FechaEmision%>-<%=ticket.HoraEmision%></span></div>
            <div class="flex size letter">
                <div><span class="ng">FORMA DE PAGO: </span><span> <%=ticket.TipoPago%></span></div>
                <% if(ticket.TieneCuenta!=0){ %>
                    <div><span class="ng">NRO OPERACIÓN: </span><span> <%=ticket.NumeroOperacion%></span></div>
                <% } %>                 
            </div>            
        </div>
        <div class="cuadro size letter">
            <table class="cuadro size letter">
                <tr class="letter size">
                    <th>DESCRIP.</th>
                    <th>CANT</th>
                    <th>P.UNIT</th>
                    <th>IMPORTE</th>
                </tr>
                <% for(var i=0; i<ticket.DetalleVenta.length; i++) { %>
                <tr class="plomo size letter">
                    <td class="sinLinea" style="font-size: 10px;"><%=ticket.DetalleVenta[i].Servicio%></td>
                    <td class="tc"><%=ticket.DetalleVenta[i].Cantidad%></td>
                    <td class="tr"><span>S/</span><span><%=ticket.DetalleVenta[i].PrecioUnitario.toFixed(2)%></span></td>
                    <td class="tr"><span>S/</span><span><%=ticket.DetalleVenta[i].Importe.toFixed(2)%></span></td>
                </tr>
                <% } %>
                <tr class="plomo size letter">
                    <td class="ng tr" colspan="3">TOTAL S/</td>
                    <td class="tr ng"><%=ticket.Total.toFixed(2)%></span></td>
                </tr>
                <%if(ticket.Descuento>0){%>
                <tr class="plomo size letter">
                    <td class="ng tr" colspan="3">DESCUENTO S/</td>
                    <td class="tr ng">-<%=ticket.Descuento.toFixed(2)%></span></td>
                </tr>
                <% } 
                if(ticket.UnaCuota==false){
                    for(var i=0; i<ticket.DetalleAbonos.length; i++){
                        %>
                        <tr class="plomo size letter">                        
                            <td colspan="2" class="celdaSinborde"></td>
                            <td class="tr ng"><span>Pago<%=(i+1)%>:</span></td>
                            <td class="tr"><span>S/</span><span><%=(ticket.DetalleAbonos[i].Monto * -1).toFixed(2)%></span></td>
                        </tr>
                    <% } 
                    }
                %>
                <tr class="plomo size letter">
                    <td class="ng celdaSinborde" colspan="4">SON: <%=ticket.MontoAbonoEnLetras%></td>
                </tr>
                <tr class="plomo size letter">
                    <td class="ng tr celdaSinborde" colspan="4">PENDIENTE:S/<%=(ticket.DeudaPendiente.toFixed(2))%></td>
                </tr>
            </table>
        </div>        
        <div class="piePag flex letter" style="font-size: 12px">
            <div style="width: 60%" class="fl">
                <div class="negrita ng letter">ATENDIDO POR:<span ><%=ticket.Usuario%></span></div> 
                <p class="negrita"><%=ticket.Mensaje%>!!</p>
                <p>*<%=ticket.FraseQR%>!!</p>     
                <span class="ng">*Canjee por Boleta o Factura</span>       
            </div>            
            <img style="width: 35%" class="qr fl" src="<%= ticket.qr %>" alt="">
        </div>
    </div>
</body>
</html>