<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin:0px;
        } 
        body{
            width: 700px;
            margin-left: 30px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        .encabezado{
            width: 700px;
            height: 75px;
            margin-top: 30px;
        }
        
        .espacioEncabezado{
            float: left;
            width: 110px;
            height: 70px;
        }        
        .logo{
            width: 70px;
            height: 70x;
            float: left;
        }
        .datosEmpresa{
            float: left;
            width: 340px;
            height: 70px;
            font-weight: bold;
        }
        .serial{
            width: 170px;
            height: 50px;
            border: 2px solid gray;
            border-radius: 10px;
            float: left;
            padding-top: 8px;
            font-size: 10;
            text-align: center;
            font-weight: bold;
        }
        .subrayado{
            width: 700px;
            border: 1px solid rgb(248, 198, 17);
            float: left;
        }
        .color{
            color: rgb(248, 198, 17);
            font-size: 10px;
        }
        .espacioLeyenda{
            margin-top: 10px;
            height: 15px;
            width: 350px;
            float: left;
            font-size: 10px;
        }
        .leyenda{
            margin-top: 10px;
            height: 15px;
            width: 350px;
            float: left;
            font-size: 10px;
        }
        .flotar{
            float: left;
        }
        .circulo{
            margin-left: 6px;
            margin-right: 6px;
            width: 10px;
            height: 10px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .nombreServicio{
            padding-top: 25px;
            width: 700px;
            height: 25px;
            font-weight: bold;
            color: rgb(129, 129, 129);
            font-size: 13px;
        }
        .tabla{
            width: 700px;
            font-size: 7px;
        }
        .encabezadoTabla{
            padding: 8px 7px;
            background-color: rgb(196, 196, 196);
            font-size: 9px;
            height: 30px;
            color: rgb(0, 0, 0);
        }
        table, tr,th{
            border-collapse: collapse;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .bordeSuperiorTabla{
            margin-top: 10px;
            border-top: 1px solid rgba(202, 166, 36, 0.493);
        }
        .negrita{
            font-weight:lighter;
            font-size: 9px;
        }
        .derecha{
            text-align: right;
        }
        .centro{
            text-align: center;
        }
        .alto{
            height: 100px;
            background-color: aqua;
        }
       
    </style>
</head>
<body>
    <%
    var saltoPagina=0;
    saltoPagina+=80;
    %>
   
    <div>
        <div class="encabezado">
            <img class="logo" src="data:image/png;base64,<%= informe.sede.Logo %>" alt="">
            <div class="espacioEncabezado">

            </div>
            <div class="datosEmpresa">
                <div class="empresa" style="font-size: 17px; color: gray;"><%=informe.sede.Sede%></div>
                <div class="direccion" style="font-size: 15px;"><%=informe.sede.Direccion%></div>
                <div class="reporte"><span class="tituloReporte">Reporte de Ventas:</span> <span class="fechas"><%=informe.FechaInicial%> - <%=informe.FechaFinal%></span></div>
            </div>
            <div class="serial">
                <div class="centro" style="font-size: 10px;">REPORTE COMPROBANTE POR SERVICIO</div>
                <div class="centro" style="font-size: 10px;"><%=informe.correlativo.Serial%></div>
            </div>
        </div>
        <div class="subrayado"></div>
        <div>
            <div class="espacioLeyenda"></div>
            <div class="leyenda">
                <div class="flotar"><div class="circulo flotar" style="background-color: green;"></div>Pagado</div>
                <div class="flotar"><div class="circulo flotar" style="background-color: rgb(6, 136, 255);"></div>Tramitador</div>
                <div class="flotar"><div class="circulo flotar" style="background-color: rgb(255, 197, 5);"></div>Deuda</div>
                <div class="flotar"><div class="circulo flotar" style="background-color: red;"></div>Anulado</div>
            </div>
        </div>
        <% 
            let totalDescuento = 0.00;
            let totalVenta=0.00;
            let numeroVentas=0;

        for(var i=0; i<informe.servicios.length; i++)
        {
            totalDescuento = 0.00;
            totalVenta=0.00;
            numeroVentas=0;


            if(saltoPagina>=230)
            {
                saltoPagina=0;
                %>
                <div style="page-break-before: always;"></div>
                <%
            }
        %>
        <div class="nombreServicio"><%=(informe.servicios[i][1])%></div>
            <div class="tabla">
                <table style="width:100%">
                    <tr class="encabezadoTabla">
                        <th>Serie y N°</th>
                        <th>Cliente</th>
                        <th>DNI</th>
                        <th>F.Emisión</th>
                        <th>Descuento</th>
                        <th>Monto total</th>
                        <th>Vendedor</th>
                        <th>Autorizado</th>
                        <th>Estado</th>
                    </tr>
                
                <%  
                <!-- SUMA ENCABEZADO DE TABLA -->
                saltoPagina+=10;
                for(var j=0; j<informe.listado.length; j++) 
                {
                    var id = informe.servicios[i][0]; 
                    var idDetalle = informe.listado[j].id;
                                if(id==idDetalle)
                                {
                                    totalDescuento+=informe.listado[j].Descuento;
                                    totalVenta+=informe.listado[j].Total;
                                    numeroVentas +=1;
                                    %>
                                        <tr >
                                            <td ><%=(informe.listado[j].SerialVenta) %></td>
                                            <td ><%=(informe.listado[j].Cliente) %></td>
                                            <td ><%=(informe.listado[j].DocCliente) %></td>
                                            <td ><%=(informe.listado[j].Emision) %></td>
                                            <td class="derecha"><%=(informe.listado[j].Descuento.toFixed(2)) %></td>
                                            <td class="derecha"><%=(informe.listado[j].Total.toFixed(2)) %></td>
                                            <td class="centro"><%=(informe.listado[j].Vendedor) %></td>
                                            <td ><%=(informe.listado[j].Autorizado) %></td>
                                            <td>
                                                    <%if(informe.listado[j].Estado=='Anulado'){%>
                                                        <span class="circulo flotar" style="background-color: red;"></span>
                                                    <%}
                                                    else if(informe.listado[j].Estado=='Tramitador'){%>
                                                        <span class="circulo flotar" style="background-color: rgb(6, 136, 255);"></span>
                                                    <%}
                                                    else if(informe.listado[j].Estado=='Pagado'){%>
                                                       <span class="circulo flotar" style="background-color: green;"></span>
                                                    <%}%>
                                            </td>
                                        </tr>
                                    <%
                                }
                                %>                                
                        <% 
                } %>
                    <tr class="bordeSuperiorTabla">
                        <td class="color ">Nro. de ventas</td>
                        <td class="negrita"><%= numeroVentas %></td>
                        <td colspan="2" class="color ">Venta total:</td>
                        <td class="negrita derecha"><%= totalDescuento.toFixed(2) %></td>
                        <td class="negrita derecha"><%= totalVenta.toFixed(2) %></td>
                        <td colspan="3"></td>
                        </tr>                   
                    </table>
                </div>
        <%  
            saltoPagina+=8;
            if(saltoPagina>=250)
            {
                saltoPagina=0;
                %>
                <div style="page-break-before: always;"></div>
                <%
            }
        } 
       
        if(saltoPagina>=230)
                        {
                            saltoPagina=0;
                            %>
                            <div style="page-break-before: always;"></div>
                            <%
                        }
        %>
        <!-- DEUDAS PENDIENTE -->
        <%
                        if(saltoPagina>=170)
                        {
                            saltoPagina=0;
                            %>
                            <div style="page-break-before: always;"></div>
                            <%
                        }                               
        %>
        <div class="nombreServicio">VENTAS CON PAGOS PENDIENTES Y/O ANULACIONES</div>
       
            <div class="tabla">
                <table style="width:100%">
                    <tr class="encabezadoTabla">
                        <th>Serie y N°</th>
                        <th>Cliente</th>
                        <th>DNI</th>
                        <th>Servicios</th>
                        <th>F.Emisión</th>
                        <th>Descuento</th>
                        <th>Monto total</th>
                        <th>Pagado</th>
                        <th>Pendiente</th>
                        <th>Vendedor</th>
                        <th>Autorizado</th>
                        <th>Estado</th>
                    </tr>
                   
                    <%
                     <!-- SUMA ENCABEZADO DE TABLA -->
                    saltoPagina+=10;
                    var _numeroVentas=0,_totalVenta=0,_totalDescuento=0,_totalPendiente=0;

                    for(var k = 0; k< informe.serviciosPendientes.length; k++)
                    {
                        _totalVenta+=informe.serviciosPendientes[k].Total;
                        _totalDescuento+=informe.serviciosPendientes[k].Descuento;
                        _totalPendiente+=informe.serviciosPendientes[k].Pendiente;
                        _numeroVentas+=1;
                    %>                   
                    <tr >
                        <td ><%=(informe.serviciosPendientes[k].SerialVenta) %></td>
                        <td ><%=(informe.serviciosPendientes[k].Cliente) %></td>
                        <td ><%=(informe.serviciosPendientes[k].DocCliente) %></td>
                        <td>
                            <%
                                const Servicio = JSON.parse(informe.serviciosPendientes[k].Servicio);
                               
                                for(let l=0; l<Servicio.length;l++)
                                {
                            %>                                   
                                <div>
                                <%=Servicio[l].servicio%>   
                                <% if(Servicio.length.length>l){ %>
                                </div>
                                        <%
                                    }
                                }
                            %>
                        </td>
                        <td ><%=(informe.serviciosPendientes[k].Emision) %></td>
                        <td class="derecha"><%=(informe.serviciosPendientes[k].Descuento.toFixed(2)) %></td>
                        <td class="derecha"><%=(informe.serviciosPendientes[k].Total.toFixed(2)) %></td>
                        <td class="derecha"><%=((informe.serviciosPendientes[k].Total) - (informe.serviciosPendientes[k].Pendiente)).toFixed(2) %></td>
                        <td class="derecha"><%=(informe.serviciosPendientes[k].Pendiente.toFixed(2)) %></td>
                        <td class="izquierda"><%=(informe.serviciosPendientes[k].Vendedor) %></td>
                        <td class="izquierda"><%=(informe.serviciosPendientes[k].Autorizado) %></td>
                        <td>
                                <%if(informe.serviciosPendientes[k].Estado=='Anulado'){%>
                                    <span class="circulo flotar" style="background-color: red;"></span>
                                <%}
                                else if(informe.serviciosPendientes[k].Estado=='Tramitador'){%>
                                    <span class="circulo flotar" style="background-color: rgb(6, 136, 255);"></span>
                                <%}
                                else if(informe.serviciosPendientes[k].Estado=='Pendiente'){%>
                                    <span class="circulo flotar" style="background-color: rgb(255, 197, 5);"></span>
                                <%}
                                else if(informe.serviciosPendientes[k].Estado=='Pagado'){%>
                                    <span class="circulo flotar" style="background-color: green;"></span>
                                <%}%>
                        </td>
                    </tr>
                    <%
                        saltoPagina+=8;

                        if(saltoPagina>=250)
                        {
                            saltoPagina=0;
                            %>
                            <div style="page-break-before: always;"></div>
                            <%
                        }
                    }             
                    %>
                    <tr class="bordeSuperiorTabla">
                        <td class="color ">Nro. de ventas</td>
                        <td colspan="3" class="negrita"><%= _numeroVentas %></td>
                        <td class="color ">Totales:</td>
                        <td class="derecha" style="font-size: 8px;"><%= _totalDescuento.toFixed(2) %></td>
                        <td class="derecha" style="font-size: 8px;"><%= _totalVenta.toFixed(2) %></td>
                        <td class="derecha" style="font-size: 8px;"><%= (_totalVenta-_totalPendiente).toFixed(2) %></td>
                        <td class="derecha" style="font-size: 8px;"><%= _totalPendiente.toFixed(2) %></td>
                        <td colspan="3"></td>
                        </tr>                   
                    </table>
                </div>
    </div>
</body>
</html>