<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <style>
        *{
            margin:0px;
            margin-left: 10px;
        } 
        body{
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        .logo{
            width: 70px;
            height: 70x;     
            margin-right: 15px;       
        }
        .flotar{
            float: left;
        }
        .encabezado{
            width: 700px;
            height: px;
            margin-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgb(146, 146, 146);
        }
        .amarillo{
            color: rgb(248, 198, 17);
        }
        .titulo{
            font-size: 15px;
            font-weight: bold;
        }
        .direccion{
            font-size: 11px;
        }
        .datos{
            width: 700px;
            height: 220px;
        }
        .datosIzquierda{
            padding-top: 15px;
            margin-left: 15px;
            width: 300px;
            border-right: 1px solid rgb(146, 146, 146);
            padding-bottom: 25px;
        }
        .datosDerecha{
            padding-top: 15px;
            margin-left: 15px;
            width: 350px;
            padding-bottom: 25px;
        }
        .img{
            width: 30px;
            height: 30x;  
            margin-right: 10px;
        }
        .dvr{
            padding-top: 20px;
        }
        .cuarta{
            width: 30%;       
        }
        .circulo{
            text-align: right;
            margin-top: 5px;
            width: 10px;
            height: 10px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .negrita{
            font-weight: bold;
        }
        .normal{
            font-weight: normal;
            margin-left: 5px;
        }
        .internoderecha{
            padding-top: 7px;
            width: 400px;
        }
        .observacion{
            margin-left: 15px;
            width: 700px;
        }
        .plomo{
            color: rgb(146, 146, 146);
        }
        .mediano{
            font-size: 11px;
        }
        
        .paddingAbajo{
            padding-bottom: 10px;
        }
        .foto{
            width: 660px;
            height: auto;
            padding: 15px;
            border: none;
        }
        .titulo2{
            margin-left: 15px;
            width: 700px;
        }
        .subtitulo{
            height: 30px;
            width: 690px;
            font-size: 10px;
            padding-top: 10px;
            padding-left: 15px;
            border-bottom: 1px solid rgb(146, 146, 146);
        }
        .entreLinea{
            margin-bottom: 5px;
        }
        .espaciado{
            height: 10px;
            width: 700px;
        }
    </style>
</head>
<body>
    <div class="encabezado">
        <img class="logo flotar" src="data:image/png;base64,<%= revision.Logo %>" alt="">
    
         <h1 class="titulo amarillo">REVISIÓN DE CÁMARAS DE SEGURIDAD</h1>
         <h1 class="titulo"><%= revision.Sede %></h1>
         <h1 class="direccion"><%= revision.Direccion %></h1>

    <div class="espaciado"></div>
    
    <div class="subtitulo">
        <h2 class="flotar plomo" style="width: 300px;">DATOS DE REVISIÓN</h2>
        <h2 class="flotar plomo" style="width: 365px; margin-left: 15px;">ESTADO CCTV</h2>
    </div>
     <div class="datos">
        <div class="datosIzquierda flotar">
            <p class="negrita entreLinea">Programación:<span class="normal"><%= revision.HoraProgramacion %></span></p>
            <p class="negrita entreLinea">Revisado: <span class="normal"><%= revision.Revisado %></span></p>            
            <p class="negrita entreLinea">DVR: <span class="normal"><%= revision.DVR %></span></p>
            <p class="negrita entreLinea">Nro canales: <span class="normal"><%= revision.NroCanales %></span></p>
            <p class="negrita entreLinea">Capacidad disco: <span class="normal"><%= revision.CapacidadDisco %> GB</span></p>
            <p class="negrita entreLinea">Capacidad disponible: <span class="normal"><%= revision.CapacidadDisponibleDisco %> GB</span></p>
            <p class="negrita entreLinea">Fecha de última revisión: <span class="normal"><%= revision.FechaRevision %></span></p>
        </div>
        <div class="datosDerecha flotar">
            <div class="dvr internoderecha flotar">
                <img src="http://172.10.20.10/img/dvr.jpg" alt="" class="flotar img">
                <p class="flotar cuarta">DVR</p>
                <%if(revision.DVREstado==true){%>
                    <p class="flotar cuarta">Activo</p>
                    <span class="flotar circulo" style="background-color: green;"></span>
                <%}
                else { %>
                    <p class="flotar cuarta">Inactivo</p>
                    <span class="flotar circulo" style="background-color: red;"></span>
                <%} %>
            </div>
            <%
            for(var k = 0; k< revision.Camaras.length; k++){
             %>
                <div class="internoderecha flotar">
                    <img src="http://172.10.20.10/img/camara.png" alt="" class="flotar img">
                    <p class="flotar cuarta"><%= revision.Camaras[k].Camara %></p>
                    <p class="flotar cuarta"><%= revision.Camaras[k].Estado %></p>
                    <%if(revision.Camaras[k].Activo == true){ %>
                        <span class="flotar circulo" style="background-color: green;"></span>
                    <%}
                    else{ %>
                        <span class="flotar circulo" style="background-color: red;"></span>
                    <%}%>
                </div>    
            <%}%>       
        </div>      
    </div>
 
    <div class="titulo2 amarillo negrita" style="margin-top: 15px;">Imagen del día:</div>
    <img class="foto" src="<%= revision.FotoBase64 %>" alt="">
    <div class="observacion mediano plomo ">
        <p class="negrita">Revisado por: <span class="normal"><%= revision.Usuario %></span></p>
        <h2 class="mediano">Observación:</h2>
        <p><%= revision.Descripcion %></p>
    </div>

    <div id="pageFooter" style="border-top: 1px solid #ddd; padding-top: 5px; width: 700px;">
        <p style="color: #666; margin: 0; padding-bottom: 5px;width: 700px; text-align: center; font-family: sans-serif; font-size: .65em">
            Oficina Tecnología de la Información - Leon Corp
        </p>
    </div>
</body>
</html>