<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin:0px;
        } 
        body{
            width: 700px;
            margin-left: 30px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        .encabezado{
            width: 700px;
            height: 75px;
            margin-top: 30px;
        }
        
        .espacioEncabezado{
            float: left;
            width: 110px;
            height: 70px;
        }        
        .logo{
            width: 70px;
            height: 70x;
            float: left;
        }
        .datosEmpresa{
            float: left;
            width: 340px;
            height: 70px;
            font-weight: bold;
        }
        .serial{
            width: 170px;
            height: 50px;
            border: 2px solid gray;
            border-radius: 10px;
            float: left;
            padding-top: 8px;
            font-size: 10;
            text-align: center;
            font-weight: bold;
        }
        .subrayado{
            width: 700px;
            border: 1px solid rgb(248, 198, 17);
            float: left;
        }
        .color{
            color: rgb(248, 198, 17);
            font-size: 10px;
        }
        .espacioLeyenda{
            margin-top: 10px;
            height: 15px;
            width: 350px;
            float: left;
            font-size: 10px;
        }
        .leyenda{
            margin-top: 10px;
            height: 15px;
            width: 350px;
            float: left;
            font-size: 10px;
        }
        .flotar{
            float: left;
        }
        .circulo{
            margin-left: 6px;
            margin-right: 6px;
            width: 10px;
            height: 10px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .nombreServicio{
            padding-top: 25px;
            width: 700px;
            height: 25px;
            font-weight: bold;
            color: rgb(129, 129, 129);
            font-size: 13px;
        }
        .tabla{
            width: 700px;
            font-size: 7px;
        }
        .encabezadoTabla{
            padding: 8px 7px;
            background-color: rgb(196, 196, 196);
            font-size: 9px;
            height: 30px;
            color: rgb(0, 0, 0);
        }
        table, tr,th{
            border-collapse: collapse;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .bordeSuperiorTabla{
            margin-top: 10px;
            border-top: 1px solid rgba(202, 166, 36, 0.493);
        }
        .negrita{
            font-weight:lighter;
            font-size: 9px;
        }
        .derecha{
            text-align: right;
        }
        .centro{
            text-align: center;
        }
        .alto{
            height: 100px;
            background-color: aqua;
        }
       
    </style>
</head>
<body>
    <%
    var saltoPagina=0;
    saltoPagina+=80;
    %>
   
    <div>
        <div class="encabezado">   
            <div class="datosEmpresa">
                <div class="empresa" style="font-size: 17px; color: gray;"><%=ventas.sede%></div>
                <div class="reporte">
                    <span class="tituloReporte">Reporte de Ventas:</span> 
                    <span class="fechas">
                    <%=ventas.FechaInicial%> - <%=ventas.FechaFinal%></span>
                </div>
            </div>           
        </div>
        <div class="subrayado"></div>
        <div>
            <div class="espacioLeyenda"></div>
            <div class="leyenda">
                <div class="flotar"><div class="circulo flotar" style="background-color: green;"></div>Pagado</div>
                <div class="flotar"><div class="circulo flotar" style="background-color: rgb(255, 197, 5);"></div>Pendiente</div>
                <div class="flotar"><div class="circulo flotar" style="background-color: red;"></div>Anulado</div>
            </div>
        </div>

        <div class="tabla">
            <table style="width:100%">
                <tr class="encabezadoTabla">
                    <th>Serie y N°</th>
                    <th>Cliente</th>
                    <th>N°Doc</th>
                    <th>F.Emisión</th>
                    <th>Descuento</th>
                    <th>Monto total</th>
                    <th>Vendedor</th>
                    <th>Autorizado</th>
                    <th>Estado</th>
                </tr>             
            
                <% 
                    let totalDescuento = 0.00;
                    let totalVenta=0.00;
                    let numeroVentas=0;

                    for(var i=0; i<ventas.Ventas.length; i++)
                    {
                        totalDescuento = 0.00;
                        totalVenta=0.00;
                        numeroVentas=0;  
                        saltoPagina=0;
                        %>  
                        
                        <tr>
                            <td><%=ventas.Ventas[i].Serial%></td>
                            <td><%=ventas.Ventas[i].Cliente%></td>
                            <td><%=ventas.Ventas[i].DocCliente%></td>
                            <td><%=ventas.Ventas[i].FechaEmision%></td>
                            <td><%=ventas.Ventas[i].Descuento%></td>
                            <td><%=ventas.Ventas[i].Total%></td>
                            <td><%=ventas.Ventas[i].Vendedor%></td>
                            <td><%=ventas.Ventas[i].Autorizado%></td>                              
                            <td>
                                <%if(ventas.Ventas[i].Estado=='Anulado'){%>
                                    <span class="circulo flotar" style="background-color: red;"></span>
                                <%}
                                else if(ventas.Ventas[i].Estado=='Pendiente'){%>
                                    <span class="circulo flotar" style="background-color: rgb(255, 197, 5);"></span>
                                <%}
                                else if(ventas.Ventas[i].Estado=='Pagado'){%>
                                   <span class="circulo flotar" style="background-color: green;"></span>
                                <%}%>
                            </td>                    
                        </tr>   
                        <%
                        saltoPagina+=8;
                        if(saltoPagina>=250)
                        {
                            saltoPagina=0;
                            %>
                            <div style="page-break-before: always;"></div>
                            <%
                        }
                    } 
                %> 
        
    </div>
</body>
</html>